.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15em;
    width: 100%;
    max-width: 500px;
}

.form__input {
    width: 80%;
    max-width: 13em;
    padding: 0.4em 0.5em;
    font-size: inherit;
    border: 0.1em solid black;
    border-radius: 10px 0 0 10px;
    margin-left: 1em;
}

.form__btn {
    width: 50%;
    max-width: 4em;
    padding: 0.4em 0;
    font-size: inherit;
    font-weight: 700;
    background-color: #d93f3f;
    border-radius: 0 10px 10px 0;
    border: 0.1em solid black;
    margin-right: 1em;
    cursor: pointer;
    
    &:hover {
        background-color: #db5555;
        transform: scale(1.05);
        color: #c5c2c2;
        box-shadow: 1px 3px 5px rgba(3, 3, 3, 0.493);
    }
}