.home__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__img {
    margin-top: 3em;
    display: block;
    width: 100%;
    max-width: 400px;
}

.container__hi {
    width: 100%;
    max-width: 400px;
    font-size: 3em;
}

.home__hi {
    text-align: center;
    font-size: inherit;
    color: #d40e28;
}

.home__p {
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2em;
}

.home__err {
    width: 70%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2em;
    font-size: 1.5em;
}

.home__red {  
    display: flex;
    justify-content: center;
    margin: auto 0 0 0;
    width: 100%;
    height: 3.5em;
    background-color: #DD1A1A;
    z-index: 1;
}

.home__img2 {
    position: absolute;
    width: 9.5em;
    height: 4em;
    margin-top: 1.1em;
    z-index: 1;
}

.home__circle {
    position: absolute;
    margin-top: 17px;
    width: 4.1em;
    height: 4em;
    background-color: white;
    border: 0.3em solid black;
    border-radius: 50%;
}

.home__black {
    margin-top: 3.2em;
    width: 100%;
    height: 40px;
    background-color: black;
    z-index: 0;
}

.btn__to-home {
    width: 100%;
    max-width: 12em;
    padding: 0.4em 0;
    font-size: 1.2em;
    font-weight: 700;
    background-color: #d93f3f;
    border-radius: 0.8em;
    border: 0.1em solid black;
    margin-right: 1em;
}