.container__total-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 0 2em;
    justify-content: center;
}

.list-poke__container {
    width: 100%;
    max-width: 250px;
}

.list__error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list__null {
    font-size: 2.5em;
    text-align: center;
    margin: 1.5em 0;
}